<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>제로타임 - 전북대 공지 알리미</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ZeroTimeNativeCoordinatorContract</key>
	<string>native-notification-coordinator.v1</string>
	<key>ZeroTimeReleaseManifest</key>
	<dict>
		<key>contract</key>
		<string>$(MOBILE_RELEASE_CONTRACT)</string>
		<key>contract_sha256</key>
		<string>$(MOBILE_RELEASE_CONTRACT_SHA256)</string>
		<key>plane</key>
		<string>$(MOBILE_RELEASE_PLANE)</string>
		<key>frontend_git_sha</key>
		<string>$(MOBILE_RELEASE_FRONTEND_GIT_SHA)</string>
		<key>backend_git_sha</key>
		<string>$(MOBILE_RELEASE_BACKEND_GIT_SHA)</string>
		<key>backend_image_digest</key>
		<string>$(MOBILE_RELEASE_BACKEND_IMAGE_DIGEST)</string>
		<key>backend_deployment_id</key>
		<string>$(MOBILE_RELEASE_BACKEND_DEPLOYMENT_ID)</string>
		<key>backend_deployed_at_utc</key>
		<string>$(MOBILE_RELEASE_BACKEND_DEPLOYED_AT_UTC)</string>
		<key>firebase_project_id</key>
		<string>$(MOBILE_RELEASE_FIREBASE_PROJECT_ID)</string>
		<key>api_origin</key>
		<string>$(MOBILE_RELEASE_API_ORIGIN)</string>
		<key>platform</key>
		<string>ios</string>
		<key>app_version</key>
		<string>$(MARKETING_VERSION)</string>
		<key>build_number</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>bundle_id</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</dict>
</dict>
</plist>
